.user-details {
  width: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;

  .action-container {
    padding-bottom: 15px;
    text-align: right;
    padding-right: 20px;

    button {
      border: none;
      height: 100%;
      background: #406DFF;
      opacity: 0.5;
      cursor: pointer;
      width: 85px;
      padding: 5px;
      color: white;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
        background-color: gray !important;
      }
    }
  }

  .background-container {
    align-items: center;
    background-color: #406DFF;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 85px;
    text-align: center;
    color: white;
    padding-top: 15px;

    .user-name {
      font-size: 18px;
    }

    .image-description {
      position: relative;
      margin-top: 12px;
      text-align: center;

      .user-avatar {
        border-radius: 70px;
        border: 3px solid white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 130px;
        margin-bottom: 1rem;
      }
    }
  }

  .info-container {
    height: 120px;
    padding-top: 100px;
    text-align: center;

    input {
      border: 1px solid gray;
      border-radius: 5px;
      height: 20px;
      width: 85%;
      margin-bottom: 15px;
    }
  }

  .subtitle-detail {
    margin-bottom: 15px;
    font-size: 14px;
    color: gray;
  }
}